<!doctype html>
<html xmlns:ng="http://angularjs.org" id="ng-app" ng-app="app">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>HTML5 file upload for angular.js</title>
    <meta name="description"
          content="Flow.js html5 file upload extension on angular.js framework. No third party dependencies."/>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">

    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/main.css">

    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/flow.js/src/flow.js"></script>
    <script src="bower_components/ng-flow/src/provider.js"></script>
    <script src="bower_components/ng-flow/src/directives/init.js"></script>
    <script src="bower_components/ng-flow/src/directives/btn.js"></script>
    <script src="bower_components/ng-flow/src/directives/drop.js"></script>
    <script src="bower_components/ng-flow/src/directives/img.js"></script>
    <script src="bower_components/ng-flow/src/directives/transfers.js"></script>
    <script src="bower_components/ng-flow/src/ng-flow.js"></script>
    <script src="bower_components/fusty-flow.js/src/fusty-flow.js"></script>
    <script src="bower_components/fusty-flow.js/src/fusty-flow-factory.js"></script>
    <script src="javascripts/app.js"></script>
  </head>
  <body >
    <div class="wrapper">
      <header>
        <h1>HTML5 file upload extension for angular.js</h1>
        <p>Flow.js is a html5 file upload library and it can be be used without any dependencies, only pure javascript.</p>

        <p class="view"><a href="https://github.com/flowjs/ng-flow">Angular extension <small>flowjs/ng-flow</small></a></p>

        <ul>
          <li><a href="https://github.com/flowjs/ng-flow/releases">Build <strong>ZIP File</strong></a></li>
          <li><a href="https://github.com/flowjs/ng-flow/zipball/master">Source <strong>ZIP File</strong></a></li>
          <li><a href="https://github.com/flowjs/ng-flow">View On <strong>GitHub</strong></a></li>
        </ul>

        <p class="view"><a href="https://github.com/flowjs/flow.js">Flow.js file upload core library<small>flowjs/flow.js</small></a></p>

        <ul>
          <li><a href="https://github.com/flowjs/flow.js/releases">Build <strong>ZIP File</strong></a></li>
          <li><a href="https://github.com/flowjs/flow.js/zipball/master">Source <strong>ZIP File</strong></a></li>
          <li><a href="https://github.com/flowjs/flow.js">View On <strong>GitHub</strong></a></li>
        </ul>

        <p class="view"><a href="https://github.com/flowjs/flow-php-server">flow.js php server library<small>flowjs/flow-php-server</small></a></p>

        <ul>
          <li><a href="https://github.com/flowjs/flow-php-server/zipball/master">Download <strong>ZIP File</strong></a></li>
          <li><a href="https://github.com/flowjs/flow-php-server/tarball/master">Download <strong>TAR Ball</strong></a></li>
          <li><a href="https://github.com/flowjs/flow-php-server">View On <strong>GitHub</strong></a></li>
        </ul>

        <p class="view"><a href="https://github.com/flowjs/fusty-flow.js">optional IE 7-9 browsers drop-in support<small>flowjs/fusty-flow.js</small></a></p>

        <ul>
          <li><a href="https://github.com/flowjs/fusty-flow.js/zipball/master">Download <strong>ZIP File</strong></a></li>
          <li><a href="https://github.com/flowjs/fusty-flow.js/tarball/master">Download <strong>TAR Ball</strong></a></li>
          <li><a href="https://github.com/flowjs/fusty-flow.js">View On <strong>GitHub</strong></a></li>
        </ul>
      </header>
      <section>
        <h3>
          <a name="welcome-to-ng-flow" class="anchor" href="#welcome-to-ng-flow"><span class="octicon octicon-link"></span></a>Welcome to Ng-flow Page.
        </h3>

        <p>
          Flow.js is a JavaScript library providing multiple simultaneous, stable and resumable uploads via the HTML5 File API.<br/><br/>

          The library is designed to introduce fault-tolerance into the upload of large files through HTTP. This is done by splitting each file into small chunks. Then, whenever the upload of a chunk fails, uploading is retried until the procedure completes. This allows uploads to automatically resume uploading after a network connection is lost either locally or to the server. Additionally, it allows for users to pause, resume and even recover uploads without losing state because only the currently uploading chunks will be aborted, not the entire upload.
        </p>

        <p>Ng-flow documentation can be found here: <a href="https://github.com/flowjs/ng-flow">https://github.com/flowjs/ng-flow</a></p>
        <p>Flow.js file upload core library: <a href="https://github.com/flowjs/flow.js">https://github.com/flowjs/flow.js</a></p>

<h3>
<a name="basic-example" class="anchor" href="#basic-example"><span class="octicon octicon-link"></span></a>Basic example:</h3>

<div class="alert alert-warning">This is just an example of flow.js. No files are actually uploaded.</div>

<div ng-flow-init
     ng-files-submitted="$flow.upload()">
  <div class="drop" ng-flow-drop ng-drag-over-class="drag-over">
    <span class="btn btn-default" ng-flow-btn>Upload File</span>
    <span class="btn btn-default" ng-flow-btn ng-directory ng-show="$flow.supportDirectory">Upload Folder</span>
    <b>OR</b>
    Drag And Drop your file here
  </div>

  <br/>

  <div class="well">
    <a class="btn btn-small btn-success" ng-click="$flow.resume()">Resume all</a>
    <a class="btn btn-small btn-danger" ng-click="$flow.pause()">Pause all</a>
    <a class="btn btn-small btn-info" ng-click="$flow.cancel()">Cancel all</a>
    <span class="label label-info">Total Size: {{$flow.getSize()}}bytes</span>
  </div>

  <div ng-flow-transfers>

    <div ng-repeat="file in transfers" class="transfer-box">
      {{file.relativePath}} ({{file.size}}bytes)
      <div class="progress progress-striped" ng-class="{active: file.isUploading()}">
        <div class="progress-bar" role="progressbar"
             aria-valuenow="{{file.progress() * 100}}"
             aria-valuemin="0"
             aria-valuemax="100"
             ng-style="{width: (file.progress() * 100) + '%'}">
          <span class="sr-only">{{file.progress()}}% Complete</span>
        </div>
      </div>
      <div class="btn-group">
        <a class="btn btn-xs btn-warning" ng-click="file.pause()" ng-show="!file.paused && file.isUploading()">
          Pause
        </a>
        <a class="btn btn-xs btn-warning" ng-click="file.resume()" ng-show="file.paused">
          Resume
        </a>
        <a class="btn btn-xs btn-danger" ng-click="file.cancel()">
          Cancel
        </a>
        <a class="btn btn-xs btn-info" ng-click="file.retry()" ng-show="file.error">
          Retry
        </a>
      </div>
    </div>
  </div>
</div>

<hr class="soften"/>

<div ng-flow-init="{singleFile:true}"
 ng-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]">
<h3>
<a name="image-example" class="anchor" href="#image-example"><span class="octicon octicon-link"></span></a>Image example:</h3>
<div class="thumbnail" ng-show="!$flow.files.length">
  <img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&text=no+image" />
</div>
<div class="thumbnail" ng-show="$flow.files.length">
  <img ng-flow-img="$flow.files[0]" />
</div>
<div>
  <span class="btn btn-primary" ng-show="!$flow.files.length" ng-flow-btn>Select image</span>
  <span class="btn btn-info" ng-show="$flow.files.length" ng-flow-btn>Change</span>
  <span class="btn btn-danger" ng-show="$flow.files.length"
     ng-click="$flow.cancel()">
    Remove
  </span>
</div>
<p>
  Only PNG,GIF,JPG,JEPG files allowed.
</p>
</div>




      </section>
      <footer>
        <p>This project is maintained by <a href="https://github.com/flowjs">flowjs</a></p>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="javascripts/scale.fix.js"></script>
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-44230881-1', 'flowjs.github.io');
  ga('send', 'pageview');

</script>
  </body>
</html>
