.drop {
    padding: 15px;
    border: 2px #f1f1f1 dashed;
    border-radius: 5px;
}
.drop.drag-over {
    background: darkseagreen;
}
.table .progress {
    margin-bottom: 0;
}

.thumbnail {
    line-height: 20px;
    margin-bottom: 5px;
}
.thumbnail img {
    max-width: 200px;
    max-height: 150px;
}